body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px; /* Adjust as necessary based on banner height */
    /* If you also want to center everything vertically, you can add: */
    /* justify-content: center; */
    /* And make sure the body takes the full viewport height: */
    /* height: 100vh; */
}

.banner {
    position: fixed; /* This keeps the banner locked at the top */
    top: 0; /* Position it right at the top */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Ensures it spans the full width */
    background-color: #333; /* Background color of your choice */
    color: white; /* Text color */
    text-align: center;
    padding: 20px;
    z-index: 1000; /* This ensures the banner stays above other content */
}

.banner h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: lighter;
}

.banner p {
    margin: 5px 0 0;
    font-size: 1.5em;
}

.audio-controls {
    display: flex;
    justify-content: center;  /* This will center the buttons horizontally inside the div */
    gap: 20px;  /* Optional: To add some space between the buttons */
    margin-bottom: 10px;
}

.search-container {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.books-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%; /* Slightly less than half, to account for any possible padding/margins */
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #FCF5E5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card p {
    font-style: italic;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 15px;
    border: none;
    background-color: #36454F;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button:hover {
    background-color: #ddd;
}

/* Modern Button Style */
button {
    background: #36454F; /* Gradient Background */
    border: none; /* Remove default borders */
    padding: 5px 10px; /* Button padding */
    color: #fff; /* Text color */
    font-size: 14px; /* Font size */
    font-weight: 5; /* Font weight */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer; /* Hand cursor on hover */
    transition: transform 0.1s, box-shadow 0.1s; /* Transition effect for interactive feedback */
    outline: none; /* Remove default outline */
}

button:hover {
    transform: translateY(-2px); /* Slight upward lift effect */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15); /* Increased shadow on hover */
}

button:active {
    transform: translateY(1px); /* Pushing down effect */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); /* Reduced shadow when active */
}

.solid-bar {
    background-color: #333; /* Or any color of your choice */
    height: 3px; /* Adjust for desired thickness */
    margin: 20px 0; /* Gap above and below */
    width: 100%; /* Span the full width */
}


